# Lab Practice Week 4

This notebook does not need to be submitted. This is only for you to gain experience and get some practice.

# Histograms, Scattered plot
Today we will review all the manipulation from lectures for numpy arrays and how to use matplotlib to plot graphs.

In [ ]:
import numpy as np
from numpy import random
import matplotlib.pyplot as plt
%matplotlib inline

## Problem 1
Generate a simulated data set of 1500 age 12 children, consisting of 800 boys (mean height 149.0488164 cm; standard deviation 3.7468166 cm) and 700 girls (mean height 151.1913253 cm; standard deviation 3.674342. Assume both boys and girls dataset have a normal distribution.
* Plot the histograms of boys and girls' heights, respectively. Please try different no. of bin option `bins` from `bins = 10`, `bins = 50`, and `bins = 100` (the bin size for each bin or basket is smaller if you use bigger bin size, your no. of bins cannot exceed the no. of samples).
* Repeat above procedure for the total data set of 1500 children.

In [ ]:
# your code here

## Problem 2 Importing data and interpret some stats

In this problem, we will learn how to import data from a csv file using **Python Data Analysis Library** `pandas` (...weird name I know).
<br><br>
If `pandas` module cannot be found by Python 3, please following the usual drill to install it in Ananconda and restart the notebook.

In [41]:
import pandas as pd

Download the student performance data set from [UCI Machine Learning Repository](https://archive.ics.uci.edu/ml/datasets/student+performance), which we will use extensively later this quarter. Go into the Data folder, download the zip, unpack the zip file, copy the `student-mat.csv` file to the same directory with this very notebook file. Then run the following cell.

In [42]:
data_student = pd.read_table('student-mat.csv', sep=';') 
# sep = ';' means the separator in this csv is ;

In [43]:
# view the first 10 rows
data_student.head(n = 10)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10
5,GP,M,16,U,LE3,T,4,3,services,other,...,5,4,2,1,2,5,10,15,15,15
6,GP,M,16,U,LE3,T,2,2,other,other,...,4,4,4,1,1,3,0,12,12,11
7,GP,F,17,U,GT3,A,4,4,other,teacher,...,4,1,4,1,1,1,6,6,5,6
8,GP,M,15,U,LE3,A,3,2,services,other,...,4,2,2,1,1,1,0,16,18,19
9,GP,M,15,U,GT3,T,3,4,other,other,...,5,5,1,1,1,5,0,14,15,15

For a table imported using `pandas`, we can access each column by the following command:
> data_student.age

will return the column where the header says `age`.

In [ ]:
# try it yourself
data_student.age[:5] # show the first 5 entries

In [ ]:
Mom_edu = np.array(data_student.Medu)
Dad_edu = np.array(data_student.Fedu)

* Now `Mom_edu` and `Dad_edu` are arrays representing the Mother and Father's education according to the dataset description (see Attribute information at [https://archive.ics.uci.edu/ml/datasets/student+performance](https://archive.ics.uci.edu/ml/datasets/student+performance)) . Now we want to know if these two columns of data are related. We can use the `corrcoef` from numpy to do this task, which measures the [Pearson correlation coefficient](https://en.wikipedia.org/wiki/Pearson_correlation_coefficient). $\pm 1$ means two arrays are totally linear related, $0$ means two arrays are not related statistically, a number closer to $1$ than 0 means two arrays are more related than not related.
<br><br>
Reference: please read [https://docs.scipy.org/doc/numpy/reference/generated/numpy.corrcoef.html](https://docs.scipy.org/doc/numpy/reference/generated/numpy.corrcoef.html).

In [ ]:
np.corrcoef(Mom_edu,Dad_edu)

* Question: what can you conclude about mother's and father's educations for these students?

Remark: you should get a matrix above, the diagonals are 1 because the array is linear related to itself.

### Interpreting correlation using scatter plot
In the data description, we have 
> G1 - first period grade (numeric: from 0 to 20)<br><br> 
> G2 - second period grade (numeric: from 0 to 20) <br><br> 
> G3 - final grade (numeric: from 0 to 20, output target)

We can use scatter plot in `pyplot` to visualize the relation, first we normalize the data set by normalizing the data with respect to the max score (20).

In [ ]:
grade_first = np.array(data_student.G1)/20
grade_second = np.array(data_student.G2)/20
grade_final = np.array(data_student.G3)/20

In [ ]:
plt.scatter(grade_first, grade_second) 
# scatter plot of the first year grade against the second year grade

* Please plot the second year grade, first year grade, against final grade. From these three scatter plots, what would you conclude the trends or correlation of these three datasets (you can try to apply `corrcoef` function on these datasets)?

In [ ]:
# your plots go here